* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* HEADER */
header {
  padding-bottom: 50px;
}
.container {
  width: 90%;
  margin: auto;
}
.header__content i {
  font-size: 9px;
}
a span {
  display: inline-block;
  transition: all 1s;
}
a:hover {
  color: #f55f8d;
}
a:hover span {
  animation: upToDown 0.3s;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  margin-left: 190px;
}
nav ul {
  display: flex;
  margin-right: 30px;
  list-style: none;
}
.header__content li {
  padding: 55px 15px;
}
.btn-color {
  padding: 20px 35px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  background: linear-gradient(to right, #df801a, #ebf8e1, #f69d3c);
  background-size: 200%;
  transition: all 0.5s;
}
.btn-color:hover {
  background-position: right center;

  color: #fff;
  text-decoration: none;
}
.header__content li a {
  color: #070120;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
}
/* CAROUSEL */
.carousel .container {
  max-width: 1200px;
  margin: auto;
}
.carousel__content {
  display: flex;
  padding-bottom: 80px;
}
.carousel__left {
  width: 60%;
}
.carousel__left .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.carousel__left .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.carousel__left .article p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #636363;
}
.carousel__left .article li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
  color: #636363;
}
.carousel__left .article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.carousel__right {
  width: 40%;
}
.carousel__right .carousel__banner img {
  max-width: 107%;
  display: block;
  margin-left: 30px;
}
.carousel button {
  margin-top: 30px;
}
/* SERVICE */
.service {
  padding-bottom: 80px;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.service__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.service .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.service .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.service__item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  width: 100%;
  transform: translateY(0);
  transition: all 0.5s;
}
.service__item:hover {
  transform: translateY(-15px);
}
.service__item img {
  width: 70%;
}
.service__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.service__item p {
  color: #636363;
}
/* ABOUTUS */
.aboutus__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.content__left {
  width: 60%;
  margin-left: -120px;
}
.content__left img {
  width: 90%;
  border-radius: 0 100px 100px 0;
}
.content__right {
  width: 50%;
}
.content__right p:first-child {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.content__right h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.content__right p {
  margin-bottom: 15px;
  color: #636363;
}
.content__right i {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  border: 2px solid #f55f8d;
  color: #f55f8d;
  text-align: center;
  margin-right: 10px;
}
.content__right li {
  list-style: none;
  color: #636363;
  margin-bottom: 10px;
}
.content__right ul {
  margin-bottom: 30px;
}
/* NUMBER */
.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
  margin: 80px 0;
}
.number__content {
  display: flex;
  justify-content: space-evenly;
}
.number__content .item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number__content .item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

/* FEATURE */
.feature {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
.feature .container {
  width: 85%;
  margin: auto;
}
.feature__content {
  display: flex;
}
.feature__content .feature__left,
.feature__content .right {
  width: 50%;
}
.feature__content .feature__left .feature__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.feature__content .feature__left .feature__title h2 {
  font-size: 61px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.feature__item .feature__bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.feature__bg::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 10px;
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
  z-index: -1;
}

.feature__bg i {
  font-size: 80px;
  line-height: 1;
  color: hsl(342, 88%, 67%);
  /* transition: all 0.5s; */
}
.feature__bg div {
  padding-left: 25px;

  /* transition: all 0.5s; */
}
.feature__item {
  margin-bottom: 30px;
}
.feature__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 24px;
  /* transition: all 0.5s; */
}
.feature__right img {
  width: 100%;
  animation: move2 5s infinite;
}
.feature__banner {
  margin-right: -80px;
}
.feature__bg:hover::after {
  opacity: 1;
}
.feature__bg:hover * {
  color: #fff;
}
.feature__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* PORTFOLIO */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  margin-top: 100px;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}
.portfolio .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.portfolio .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.portfolio__content .item1 {
  grid-column: 1 / span 2;
}
.portfolio__content .item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio__content .item5 {
  grid-column: 1 / span 2;
}
.portfolio__content .portfolio__item {
  position: relative;
}
.portfolio__item .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
  cursor: pointer;
}
.portfolio__item .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio__item .text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.portfolio__item .text p {
  color: #fff;
  opacity: 0.7;
  margin-top: 10px;
}
.portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
  overflow: hidden;
}
.portfolio .overlay::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio .overlay:hover::before {
  left: 125%;
}
.portfolio__item:hover .overlay {
  opacity: 1;
}
.portfolio .overlay:hover .text {
  transform: translateY(0px);
}
.portfolio .overlay:hover .icon {
  transform: translate(0px, 0px);
}
/* PLAN */
.plan {
  margin-top: 80px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.plan .plan__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.plan .plan__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan__item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 32px;
}
.plan__item img {
  width: 125px;
}
.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan__item li,
.plan__item div {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan__item li {
  list-style: none;
  text-align: left;
  padding: 5px 0;
  font-weight: 400;
}
.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
/* TESTIMONIAL */
.testimonial {
  margin-top: 80px;
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.testimonial .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial-pic::before {
  opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic::after {
  opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx {
  opacity: 1;
}

.testimonial-pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial-pic::after,
.testimonial-pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial-pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background: #f55f8d;
}
.testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial-position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.testimonial-text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
swiper-pagination-bullet {
  color: red;
}
/* BLOG */
.blog {
  max-width: none;
  background-image: url(./images/bg16.png);
  background-size: cover;
  background-position: top;
}
.blog_content {
  text-align: center;
}
.blog_content p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  text-transform: capitalize;
  margin-bottom: 30px;
  padding-top: 100px;
}
.blog_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.multiple-items {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.multiple-items * {
  max-width: none;
}
.multiple-items .container {
  padding: 15px;
}
.blog_news_item_container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(245, 95, 141, 0.1);
  position: relative;
}
.blog_news_item_container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.blog_news_item_container > span {
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 14px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  position: relative;
  top: -10px;
  left: 15px;
}
.blog_news_item_container > hr {
  border-top: 1px #88888852 solid;
  color: white;
  margin-top: 40px;
}
.blog_news_item_container > p:first-of-type {
  font-size: 24px;
  font-weight: 700;
  color: #262626;
  padding-top: 15px;
  padding-left: 15px;
}
.blog_news_item_container > p:nth-of-type(2) {
  color: #636363;
  font-weight: 400;
  padding-left: 15px;
}
.blog_news_item_container .author {
  margin-top: 15px;
  padding-bottom: 15px;
  display: flex;
}
.blog_news_item_container .author .author_name {
  color: #636363;
  padding-left: 15px;
  display: flex;
}
.blog_news_item_container .author .author_name span {
  color: #f55f8d;
}

.blog_news_item_container .author img {
  margin-right: 5px;
  width: 17px;
  display: block;
}
.blog_news_item_container .author .customer_comment {
  padding-left: 15px;
  display: flex;
  color: #636363;
}
/* FOOTER */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  /* color: #fff; */
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  display: flex;
  align-items: center;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.footer__top .text,
.footer__top .form {
  width: 50%;
}
.footer__top form {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 60px 0rgb (0, 0, 0, 0.1);
  transition: all 0.5s;
}
.footer__top form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 8px 0 0 8px;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__top form .btn__footer {
  border-radius: 0;
}

.footer__top form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  /* border-radius: 0 0.5rem 0.5rem 0; */
  color: #fff;
  cursor: pointer;
}
.footer__top form button:hover {
  background-position: right center;
}
.footer__top form button .fa {
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.footer__top form input:hover {
  border: 1px solid red;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__bottom .footer__item {
  /* border: 1px solid red; */
  width: 25%;
}
.footer__bottom .footer__item li a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__bottom .footer__item li a i {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__item {
  width: 25%;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer__item li {
  padding: 8px 0;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
  color: white;
}
.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer__contact span {
  color: #fff;
}
.footer__bottom .footer__item li:hover * {
  color: #fff;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::after,
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::before {
  width: 15px;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
/* .footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
} */
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__coppyright {
  background-color: #1f343b;
  padding: 10px 0;
  /* position: relative; */
}

.footer__left span {
  color: #f55f8d;
}
.footer__coppyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
/* back to top */
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* .cd-top--fade-out {
  opacity: 0.5;
} */
